body{
	background: rgb(0,255,127);
}
.titulo{
	color:#00FFFF;
}

.img{
	float: left;
	position: relative;
	margin-top: 25px;

}
.texto{
	font-style: italic;
	font-size: 33px;
	letter-spacing: 2px;
	text-align: justify;
}
.rodape{
	color: dark;
	text-align: left;
	font-style: italic;
}