h1{
	font-style: italic;
	color: darkblue;
}
body{
	font-family: sans-serif;
	font-size: 1em;
    background-color:#00E5EE;
    font-family:  sans-serif;
    font-size:1em;
    color: #59429d ;
}
